{% extends "base.html" %}
{% load my_tag %}

{% block content %}

<div class="container">

    <h1>42 Coffee Cups Test Assignment</h1>
    <hr>

    <div class="col-md-9 col-md-offset-2 personal-info">

        <div class="row">
            <div class="col-md-6"><label><h3>Personal info</h3></label></div>

            {% if user.is_authenticated %}
             <div class="col-md-6">
                 <a href="{% url 'edit' %}">Edit</a>
                 <a href="{% url_to_edit_object user %}">(admin)</a>
                 <a href="{% url 'logout' %}">Logout</a>
             </div>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>

        <div class="row">
          <div class="col-md-6">{{ data.name }}</div>
          <div class="col-md-6"><label>Contacts</label></div>
        </div>

        <div class="row">
          <div class="col-md-6">{{ data.last_name }}</div>
          <div class="col-md-6"><label>Email:</label>{{ data.email }}</div>
        </div>

        <div class="row">
          <div class="col-md-6">{{ data.date_of_birth }}</div>
          <div class="col-md-6"><label >Jabber:</label>{{ data.jabber }}</div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="">Photo:</label><br>
                {% if data.avatar %}
                    <img src="{{ data.avatar.url }}"  alt="avatar">
                {% else %}
                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                {% endif %}
            </div>
            <div class="col-md-6"><label>Skype:</label>{{ data.skype }}</div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-6"><label>Other contacts:</label><br>{{ data.other_contacts|linebreaks }}</div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-6"><label>Bio:</label> <br>{{ data.bio }}</div>
        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <a  href="{% url "request" %}">requests</a>
        </div>
    </div>
</div>

{% endblock %}