{% extends "base.html" %}
{% load staticfiles %}



{% block extra_head %}
    <script src="{% static 'js/edit_page.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
{#      <div class="col-md-3">#}
{#        <div class="text-center">#}
{#          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">#}
{#          <h6>Upload a different photo...</h6>#}
{##}
{#          <input type="file" class="form-control">#}
{#        </div>#}
{#      </div>#}

      <!-- edit form column -->
      <div class="col-md-9 col-md-offset-3 personal-info">
        <div class="alert alert-info alert-dismissable" hidden>
          <a class="panel-close close" data-dismiss="alert">x</a>
          <i class="fa fa-coffee"></i>
          <spam>This is an <strong>.alert</strong>. Use this to show important messages to the user.</spam>
        </div>
        <h3>Personal info</h3>

        <form class="form-horizontal" role="form" id="edit-form" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">{{ form.avatar.label_tag }}</label>
            <div class="col-lg-8">
{#              <input class="form-control" type="text" value="Jane">#}
                {{ form.avatar }}
                <img src="" alt="" id="preview">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{ form.name.label_tag }}</label>
            <div class="col-lg-8">
{#              <input class="form-control" type="text" value="Jane">#}
                {{ form.name }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{ form.last_name.label_tag }}</label>
            <div class="col-lg-8">
{#              <input class="form-control" type="text" value="Bishop">#}
                {{ form.last_name }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{ form.date_of_birth.label_tag }}</label>
            <div class="col-lg-8">
{#              <input class="form-control" type="text" value="">#}
                {{ form.date_of_birth }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{ form.bio.label_tag }}</label>
            <div class="col-lg-8">
{#              <input class="form-control" type="text" value="janesemail@gmail.com">#}
                {{ form.bio }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ form.email.label_tag }}</label>
            <div class="col-md-8">
{#              <input class="form-control" type="text" value="janeuser">#}
                {{ form.email }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ form.jabber.label_tag }}</label>
            <div class="col-md-8">
{#              <input class="form-control" type="password" value="11111122333">#}
                {{ form.jabber }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ form.skype.label_tag }}</label>
            <div class="col-md-8">
{#              <input class="form-control" type="password" value="11111122333">#}
                {{ form.skype }}
            </div>
          </div>
            <div class="form-group">
            <label class="col-md-3 control-label">{{ form.other_contacts.label_tag }}</label>
            <div class="col-md-8">
{#              <input class="form-control" type="password" value="11111122333">#}
                {{ form.other_contacts }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes" data-loading-text="Loading...">
            </div>
          </div>
        </form>
      </div>
  </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-lg btn-success" href="{% url "index" %}">index</a>
            <a class="btn btn-lg btn-success" href="{% url "request" %}">requests</a>
        </div>
    </div>

</div>
<hr>

{% endblock %}