{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    ({{ requests_count }}) 42 Coffee Cups Test Assignment
{% endblock %}


{% block extra_head %}
    <script src="{% static 'js/jquery-visibility.js' %}"></script>
    <script src="{% static 'js/progress-bar.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
{% endblock %}


{% block content %}

    <div class="container">
        <h1>(0) 42 Coffee Cups Test Assignment. Middleware.</h1>
        <hr>

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <h4 id="header_info">
                    Page is active. Requests is_viewed will be True in <span id="timer">5</span>
                </h4>
            </div>
        </div>
        <div class="row">
            <div id="request_table">

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a class="btn btn-lg btn-success" href="{% url "index" %}">home</a>
            </div>
        </div>


    </div>

{% endblock %}