<div class="row">
    <div class="col-md-4 col-md-offset-1"><b>path</b></div>
    <div class="col-md-1"><b>method</b></div>
    <div class="col-md-1"><b>code</b></div>
    <div class="col-md-1"><b>priority</b></div>
    <div class="col-md-1"><b>mew</b></div>
    <div class="col-md-2"><b>time</b></div>

</div>

{% for request in requests %}

<div class="row">
    <div class="col-md-4 col-md-offset-1">{{ request.path }}</div>
    <div class="col-md-1">{{ request.method }}</div>
    <div class="col-md-1">{{ request.status_code }}</div>
    <div class="col-md-1" priority>{{ request.priority }}</div>
    <div class="col-md-1">{{ request.is_viewed }}</div>
    <div class="col-md-2">{{ request.time|date:"Y-m-d H:m" }}</div>

</div>

{% endfor %}